<mat-tab-group mat-align-tabs="center">
    <mat-tab label="Playgound">
        <div class="container">
            <div class="example-playground">
                <div *appLoading="isLoading; config: {diameter: size, color: theme, position: position}">Is loading complete:  {{isLoading}}</div>
            </div>
            
            <section>
                <mat-label>Spiner Size: </mat-label>
                <input [(ngModel)]="size" matInput type="number" min="1">
            </section>
            
            <section>
                <mat-label>Is loading: </mat-label>
                <mat-checkbox [(ngModel)]="isLoading" ></mat-checkbox>
            </section>
            
            <section>
                    <mat-label>Color: </mat-label>
                    <select [(ngModel)]="theme">
                      <option value="primary">primary</option>
                      <option value="accent">accent</option>
                      <option value="warn">warn</option>
                      <option>undefined</option>
                    </select>
            </section>    
    
            <section>
                <mat-label>Position: </mat-label>
                <select [(ngModel)]="position">
                  <option value="top-left">top-left</option>
                  <option value="top-right">top-right</option>
                  <option value="top-center">top-center</option>
                  <option value="left">left</option>
                  <option value="right">right</option>
                  <option value="center">center</option>
                  <option value="bottom-left">bottom-left</option>
                  <option value="bottom-right">bottom-right</option>
                  <option value="bottom-center">bottom-center</option>
                  <option>undefined</option>
                </select>
            </section>    
        </div>
    </mat-tab>
    <mat-tab label="Samples">
        <div class="container">
            <div class="example-playground">
                <div *appLoading="true">Some data</div>
            </div>
            <pre>
                <code [highlight]="sample1" [languages]="['html']" [lineNumbers]='true'></code>
            </pre>
        </div>
        <div class="container">
            <div class="example-playground">
                <div *appLoading="true; config: {color: 'warn'}">Some data</div>
            </div>
            <pre>
                <code [highlight]="sample2" [languages]="['html']" [lineNumbers]='true'></code>
            </pre>
        </div>
        <div class="container">
            <div class="example-playground">
                <div *appLoading="true; template: template">Some data</div>
                <ng-template #template>Loading Template</ng-template>
            </div>
            <pre>
                <code [highlight]="sample3" [languages]="['html']" [lineNumbers]='true'></code>
            </pre>
        </div>
    </mat-tab>
  </mat-tab-group>
  